.homepage-hero {
  padding-top: 30px;
  height: 650px;
  background-color: #333;
  background-size: cover;
  background-position: 50%;
}

.y-container {
  background-color: #fff;
  min-width: 1020px;
}

.homepage-hero_inner {
  padding-top: 80px;
}

.u-text-centered {
  text-align: center !important;
}

.homepage-hero_logo a {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -1000em;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #0073bb;
  text-decoration: none;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .homepage-hero_logo {
    background-image: url(https://s3-media0.fl.yelpcdn.com/assets/public/default@2x.yji-3e0b6fdd67576efda4390daddc35c8f1.png);
  }
}

.homepage-hero_logo {
  background-size: 80px 40px;
  background-repeat: no-repeat;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.layout-block {
  *zoom: 1;
  margin: 0 -15px;
}

.signup-wrapper {
  padding: 30px;
  overflow: hidden;
}

.signup-wrapper .signup-flow {
  margin: auto;
  padding: 0 18px;
  max-width: 100%;
  text-align: center;
}

.flow-start,
.external-auth,
.login {
  max-width: 350px;
  margin-right: auto;
}

.layout-h .column {
  float: right;
  padding: 0 15px;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  *width: 459px;
}

.picture-container {
  margin-top: 1px;
  padding-bottom: 12px;
  text-align: center;
  margin-left: 700px;
}

.back-image {
  background-repeat: no-repeat;
  margin-left: 100px;
}

.form-page-signup {
  margin-left: auto;
}
